  .main{
    position: relative;
      .ant-layout-sider{
        position: absolute;
        z-index: 1;
        top: 64px;
        height: 100vh;
      }
    .conatiner{
      height: auto !important;
      width: 100vw !important;
      .ant-layout-header{
        padding: 0%;
        .demo-logo{
          display: flex;
          justify-content: center;
          h2{
            color: white;
          }
        }
      }
    }
  }
  